@model HNCK.CRM.Web.ViewModels.Subject.SubjectCreateViewModel
@{
}

<div class="container">
	<h2 class="hnck-text-blue">@Localizer.GetString("Title")</h2>
	<hr />
	<form asp-controller="Subject" asp-action="Create" method="post">

		<div class="hnck-headerblock">
			<div class="hnck-headerblock-header hnck-text-blue"><span class="hnck-headerblock-text">@Localizer.GetString("MainSubInfoTitle")</span></div>

			<div class="row">
				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.FirstName"></label>
				</div>
				<div class="col-xl-4">
					<input class="hnck-input form-control" asp-for="Subject.FirstName">
				</div>

				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.LastName"></label>
				</div>
				<div class="col-xl-4">
					<input class="hnck-input form-control" asp-for="Subject.LastName">
				</div>
			</div>

			<div class="row">
				<div class="col-xl-3">
					<label class="hnck-text-white hnck-label" asp-for="Subject.PersonalIdentificationNumber"></label>
				</div>
				<div class="col-xl-3">
					<input class="hnck-input form-control" asp-for="Subject.PersonalIdentificationNumber">
				</div>

				<div class="col-xl-3">
					<label class="hnck-text-white hnck-label" asp-for="Subject.BusinessIdentificationNumber"></label>
				</div>
				<div class="col-xl-3">
					<input class="hnck-input form-control" asp-for="Subject.BusinessIdentificationNumber">
				</div>
			</div>

			<div class="row">
				<div class="col-xl-3">
					<label class="hnck-text-white hnck-label" asp-for="Subject.BirthDate"></label>
				</div>
				<div class="col-xl-3">
					<input class="hnck-input form-control" type="date" asp-for="Subject.BirthDate">
				</div>

				<div class="col-xl-3">
					<label class="hnck-text-white hnck-label" asp-for="Subject.ResidenceCardValidTo"></label>
				</div>
				<div class="col-xl-3">
					<input class="hnck-input form-control" type="date" asp-for="Subject.ResidenceCardValidTo">
				</div>
			</div>

			<div class="row">
				<div class="col-xl-6">
				</div>

				<div class="col-xl-3">
					<label class="hnck-text-white hnck-label" asp-for="CreateEventFromResidenceCardValidDate"></label>
				</div>
				<div class="col-xl-3">
					<input class="form-control" asp-for="CreateEventFromResidenceCardValidDate">
				</div>
			</div>
		</div>


		<div class="hnck-headerblock">
			<div class="hnck-headerblock-header hnck-text-blue"><span class="hnck-headerblock-text">@Localizer.GetString("ContactTitle")</span></div>
			<div class="row">
				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.Email"></label>
				</div>
				<div class="col-xl-4">
					<input class="hnck-input form-control" asp-for="Subject.Email">
				</div>

				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.TelNumber"></label>
				</div>
				<div class="col-xl-4">
					<input class="hnck-input form-control" asp-for="Subject.TelNumber">
				</div>
			</div>
		</div>


		<div class="hnck-headerblock">
			<div class="hnck-headerblock-header hnck-text-blue"><span class="hnck-headerblock-text">@Localizer.GetString("AddressTitle")</span></div>
			<div class="row">
				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.Address.StreetName"></label>
				</div>
				<div class="col-xl-4">
					<input class="hnck-input form-control" asp-for="Subject.Address.StreetName">
				</div>

				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.Address.StreetNumber"></label>
				</div>
				<div class="col-xl-4">
					<input class="hnck-input form-control" asp-for="Subject.Address.StreetNumber">
				</div>
			</div>

			<div class="row">
				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.Address.Zip"></label>
				</div>
				<div class="col-xl-4">
					<input class="hnck-input form-control" asp-for="Subject.Address.Zip">
				</div>

				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.Address.CityName"></label>
				</div>
				<div class="col-xl-4">
					<input class="hnck-input form-control" asp-for="Subject.Address.CityName">
				</div>
			</div>

			<div class="row">
				<div class="col-xl-2">
					<label class="hnck-text-white hnck-label" asp-for="Subject.Address.IdCountry"></label>
				</div>
				<div class="col-xl-10">
					<select class="hnck-input form-control" asp-for="Subject.Address.IdCountry" asp-items="@Model.Countries">
						<option>-- select --</option>
					</select>
				</div>
			</div>
		</div>


		<div class="hnck-headerblock">
			<div class="hnck-headerblock-header hnck-text-blue"><span class="hnck-headerblock-text">@Localizer.GetString("Note")</span></div>
			<div class="row">
				<div class="col-xl-12">
					<textarea class="hnck-input form-control" asp-for="Subject.Note"></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-8"></div>
			<div class="col-xl-2">
				<input class="btn btn-primary btn-block" type="submit" value="@Localizer.GetString("CreateButton")" />
			</div>
			<div class="col-xl-2">
				<a type="button" class="btn btn-primary btn-block" asp-action="Index" asp-controller="Subject" method="get">@Localizer.GetString("BackButton")</a>
			</div>
		</div>
	</form>
</div>



