@model HNCK.CRM.Web.ViewModels.Subject.SubjectDetailViewModel
@{
}

<div class="hnck-headerblock">

	<div class="hnck-headerblock-header hnck-text-blue"><span class="hnck-headerblock-text">@Localizer.GetString("UserEvents")</span></div>

	@foreach (var userEvent in Model.Subject.UserEvents)
	{
		<div class="row">
			<div class="col-xl-1">
				@if (userEvent.TerminationDate.HasValue)
				{
						<div class="hnck-label"><i class="hnck-text-green fas fa-check"></i></div>
				}
				@if (userEvent.DeletedDate.HasValue)
				{
						<div class="hnck-label"><i class="hnck-text-red">X</i></div>
				}
			</div>
			
				<div class="col-xl-2">
					<div class="hnck-text-white hnck-label">@userEvent.DueDate.ToString("dd.MM.yyyy")</div>
				</div>
				<div class="col-xl-7">
					<div class="hnck-text-white hnck-label">@userEvent.Name</div>
				</div>

				@if (!userEvent.TerminationDate.HasValue && !userEvent.DeletedDate.HasValue)
				{
					<div class="col-xl-1 mt-1">
						<a class="hnck-text-green" asp-action="DoneFromDetail" asp-controller="UserEvent" asp-route-id="@userEvent.IdUserEvent">
							@Localizer.GetString("Done")
						</a>
					</div>
					<div class="col-xl-1 mt-1">
						<a class="hnck-text-red" asp-action="RemoveFromDetail" asp-controller="UserEvent" asp-route-id="@userEvent.IdUserEvent">
							@Localizer.GetString("Delete")
						</a>
					</div>
				}
		</div>
	}

	<div class="row mt-3">
		<div class="col-xl-10"></div>
		<div class="col-xl-2">
			<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">@Localizer.GetString("NewEvent")</button>
		</div>
	</div>


	@using (Html.BeginForm("Create", "UserEvent", FormMethod.Post))
	{
		<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content hnck-modal">
					@await Html.PartialAsync("~/Views/UserEvent/Create.cshtml", Model.UserEventDto)
				</div>
			</div>
		</div>
	}

</div>
